{% extends "base.html" %}

{% block content %}

    {% load bootstrap3 %}

    {% load pcm_template_tags %}
    {% if other_var %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <a href="/viewday/{{ other_var.Date|previus_day|date:"Y/m/d"}}" class="btn btn-success pull-left" role="button">&laquo; Предидущий</a>
                </div>
                <div class="col-md-4 col-md-offset-2">

                    {% if date_form %}
                        {{ date_form.media }}
                        {% if date_form.errors %}
                            {{ date_form.non_field_errors }}
                        {% endif %}
                        {% if date_form.dateinput.errors %}
                            {{ date_form.dateinput.errors }}
                        {% endif %}

                        <form id='my_date_form' action="{% url 'viewlist' %}" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <div class='input-group date' id='yourdatetimeid'>

                                    <input id="yourdatetimeid" name="dateinput" type='text' class="form-control" value="{{ date_form.dateinput.value }}" onchange="this.form.submit()"/>

                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>

                                </div>
                            </div>
                            {% autoescape off %}
                            <script type="text/javascript">
                                $(function () {
                                     $('#yourdatetimeid').datetimepicker({
                                        format: 'd MM yyyy', //This is the default date format Django will accept, it also disables the time in the datepicker.
                                        minView: 2,
                                        autoclose: true,
                                        language: 'en',
                                        startView: 2,
                                        defaultDate: '{{ date_form.dateinput.value|date:"d-m-Y"}}',
                                        todayBtn: true
                                    }).find('input').addClass("form-control");
                                });
                            </script>
                            {% endautoescape %}
                        </form>


                    {% else %}
                        <h4 align="center">{{ other_var.Date}}</h4>
                    {% endif %}
                </div>
                <div class="col-md-2 col-md-offset-2">
                    {% now "Y-m-d" as todays_date %}
                    {% if other_var.Date|date:"Y-m-d" < todays_date  %}
                        <a href="/viewday/{{ other_var.Date|next_day|date:"Y/m/d"}}" class="btn btn-success pull-right" role="button">Следующий &raquo;</a>
                    {% else %}
                        <a href="#" class="btn btn-info pull-right disabled" role="button">Следующий &raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    {% if State_list %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Login</th>
                            <th>LogOn</th>
                            <th>LogOff</th>
                            <th>Время работы</th>
                            <th>Host</th>
                            <th>ipAddr</th>
                            <th>Trust</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for State_rows in State_list %}
                        {%  if not State_rows.Trust%}
                            <tr class="danger">
                        {% else %}
                        <tr>
                        {% endif %}
                            <td>
                                {{ State_rows.id}}
                            </td>
                            <td>
                                <a href="{% url 'userpage' %}{{ State_rows.User }}">{{ State_rows.User}}</a>
                            </td>
                            <td>
                                {{ State_rows.LogOn}}
                            </td>
                            <td>
                                {{ State_rows.LogOff}}
                            </td>
                            <td>

                                {% SpacingProgress  StartTime=State_rows.LogOn EndTime=State_rows.LogOff %}
                            </td>
                            <td>
                                {{ State_rows.Host}}
                            </td>
                            <td>
                                {{ State_rows.ipAddr}}
                            </td>
                            <td>
                                {%  if State_rows.Trust%}
                                    {% bootstrap_icon "ok" %}
                                {% else %}
                                    {% bootstrap_icon "remove" %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    {% if State_list.has_previous %}
                        <li><a href="?page={{ State_list.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="?page={{ State_list.number }}">&laquo;</a></li>
                    {% endif %}
                    {% for page in State_list.paginator.page_range %}
                        <li {% if State_list.number == page %}class="active"{% endif %}><a href="?page={{ page }}">{{ page }}</a> </li>
                    {% endfor %}

                    {% if State_list.has_next %}
                        <li><a href="?page={{ State_list.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><a href="?page={{ State_list.number }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block footer_text %}&copy; ООО КонсультантЪ 2016г.{% endblock %}